version: "3.8"
services:
  job-scheduler:
    build:
      context: ./services/job-scheduler
      dockerfile: Dockerfile
    container_name: job-scheduler
    environment:
      - WORKER_REGISTRY=http://worker-registry:8080
      - JOB_SERVICE=http://job-service:8080
      - CARBON_INTENSITY_PROVIDER=http://carbon-intensity-provider:8080
      - JOB_SCHEDULER_INTERVAL=5
    expose:
      - 8080
    networks:
      - private_network
    restart: unless-stopped

  worker-registry:
    build:
      context: ./services/worker-registry
      dockerfile: Dockerfile
    container_name: worker-registry
    expose:
      - 8080
    networks:
      - private_network
    restart: unless-stopped

  job-service:
    build:
      context: ./services/job-service
      dockerfile: Dockerfile
    container_name: job-service
    expose:
      - 8080
    networks:
      - private_network
    restart: unless-stopped

  carbon-intensity-provider:
    build:
      context: ./services/carbon-intensity-provider
      dockerfile: Dockerfile
    container_name: carbon-intensity-provider
    environment:
      - USE_LIVE=false
      - TOKEN_GB=QNk1Rdt3g3GGEnbPCROu
      - TOKEN_DE=MSUX5RJxZtdO2avdqoXY
    volumes:
      - ./zones.json:/app/zones.json
      - ./zones_metadata.json:/app/zones_metadata.json
    expose:
      - 8080
    networks:
      - private_network
    restart: unless-stopped

  worker-gateway:
    build:
      context: ./services/worker-gateway
      dockerfile: Dockerfile
    container_name: worker-gateway
    expose:
      - 8080
    networks:
      - private_network
    restart: unless-stopped

  consumer-gateway:
    build:
      context: ./services/consumer-gateway
      dockerfile: Dockerfile
    container_name: consumer-gateway
    expose:
      - 8080
    networks:
      - private_network
    restart: unless-stopped

  user-management:
    build:
      context: ./services/user-management
      dockerfile: Dockerfile
    container_name: green-load-shifting-platform
    environment:
      USE_LIVE: "false"
      AUTH0_TOKEN_URL: "https://dev-jqhwcu7xuwgdqi56.eu.auth0.com/oauth/token"
      JWT_AUDIENCE: "https://green-load-shifting-platform/"
      ADMIN_SECRET_HASH: "da359894a57a42c65efa8b98c8c86f3f974ff2c8dd7fc428fd87ce6ecdc40bd7"
    expose:
      - 8080
    networks:
      - private_network
    restart: unless-stopped

networks:
  private_network:
    ipam:
      config:
        - subnet: 172.20.0.0/16
