openapi: 3.1.1

info:
  title: API for the consumer gateway
  version: 1.0.0
  description: API for creating and monitoring a job

servers:
  - url: https://something.com

paths: 
  /jobs:
    post: 
      summary: Create new Job
      description: Submits a new Job using image-id and job-id
      security:
        - bearerAuth: [] 
      requestBody:
        required: true
        content: 
          application/json:
            schema:
              $ref: "#/components/schemas/CreateJobRequest"
      responses: 
        "201":
          description: Job successfully created
        "400":
          description: Bad request 
        "401":
          description: Unauthorized

  /jobs/{job-id}/status:
    get: 
      summary: Get the status of a job
      parameters:
        - name: job-id
          in: path
          required: true
          schema:
            type: string
      security:
        - bearerAuth: []
      responses: 
        "200":
          description: Job status returned
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobStatusUpdate"
        "400":
          description: Bad request 
        "401":
          description: Unauthorized

  /auth/login:
    post: 
      summary: Forwards user login to user management
      description: User management returns JWT, user-id and role
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
      responses: 
        "200":
          description: Login successful
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoginResponse"
        "400":
          description: Bad request 
        "401":
          description: Unauthorized

  /auth/register:
      post: 
        summary: Forwards user registration to user management
        description: User management returns JWT, user-id and role
        requestBody:
          required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegisterRequest"
        responses: 
          "200":
            description: Registration successful
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/RegisterResponse"
          "400":
            description: Bad request 
          "401":
            description: Unauthorized

#code down below was generated by ChatGPT
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    CreateJobRequest:
      type: object
      properties:
        image_id:
          type: string
      required:
        - image_id

    JobStatusUpdate:
      type: object
      properties:
        job_id:
          type: string
        status:
          type: string
          enum: [pending, scheduled, running, completed, failed]
        started_at:
          type: string
          format: date-time
        finished_at:
          type: string
          format: date-time
          nullable: true

    LoginRequest:
      type: object
      properties:
        username: 
          type: string
        password:
          type: string
      required:
        - username
        - password

    LoginResponse:
      type: object
      properties:
        user_id: 
          type: string
        role:
          type: string
        token:
          type: string
           
    RegisterRequest:
       type: object
       properties:
        username:
           type: string
        password:
           type: string
        email:
           type: string
      required:
        - username
        - password
        - email

    RegisterResponse:
      type: object
      properties:
        user_id:
          type: string
        role:
          type: string
        token:
          type: string
